@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  border: none;
  text-decoration: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

html {
  color-scheme: light dark;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  background: #99d98c;
}

.chatbot {
  background: #d9ed92;
  position: fixed;
  right: 40px;
  width: 420px;
  bottom: 100px;
  border-radius: 20px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transform-origin: bottom left;
  transition: transform-origin 1.5s ease;
  display: none;
}
.chatbot.active {
  display: block;
}
.chatbot header {
  color: #fff;
  background: #0d0a0b;
  padding: 16px 0;
  position: relative;
}
.chatbot header .lang {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  top: 10px;
}
.chatbot header .lang select {
  border-radius: 5px;
  background: #6400C8;
  font-weight: 500;
  color: #fff;
}
.chatbot header .src {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 40px;
  top: 10px;
}
.chatbot header .src select {
  border-radius: 5px;
  color: #fff;
  background: #6400C8;
  font-weight: 500;
}
.chatbot header h2 {
  color: #fff;
  font-size: 1.4rem;
  position: relative;
  left: 140px;
  top: 5px;
}
.chatbot header #closeChat {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 2em;
  cursor: pointer;
  display: none;
}
.chatbot .chatbox {
  height: 510px;
  overflow-y: auto;
  padding: 15px 20px 70px;
  border-radius: 20px;
}
.chatbot .chatbox .chat {
  display: flex;
}
.chatbot .chatbox .chat p {
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  font-size: 0.95rem;
  width: 70%;
  color: #fff;
  background: #b7e4c7;
}
.chatbot .chatbox .incoming {
  margin-bottom: 10px;
}
.chatbot .chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  align-self: flex-end;
  background: #724ae8;
  line-height: 32px;
  text-align: center;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbot .chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
  color: #000;
  background: #e6b8a2;
}
.chatbot .chatbox .incoming .error {
  color: rgb(122, 11, 11);
}
.chatbot .chatbox .outcoming {
  margin: 20px 0;
  justify-content: flex-end;
}

.chatbot .chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 5px;
  background: #caf0f8;
  border-top: 1px solid #8f7777;
}
.chatbot .chat-input textarea {
  height: 55px;
  width: 100%;
  font-size: 0.95rem;
  resize: none;
  color: #000;
  font-weight: 500;
  padding: 16px 15px 16px 15px;
  background: transparent;
  border-right: 2px solid #3b2c2c;
}
.chatbot .chat-input span {
  color: #724ae8;
  font-size: 3rem;
  cursor: pointer;
  align-self: flex-end;
  height: 55px;
  width: 55px;
  line-height: 55px;
  visibility: hidden;
}

.chatbot .chat-input textarea:valid ~ span {
  visibility: visible;
}

.toggler {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  background: #724ae8;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.toggler span {
  color: #fff;
  font-size: 3rem;
  line-height: 50px;
  text-align: center;
  display: block;
  position: absolute;
}
.toggler span:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}
.toggler #open:hover {
  transform: rotate(360deg);
}
.toggler #open.active {
  display: none;
}
.toggler #close {
  z-index: 999;
  display: none;
  transition: transform 1s ease;
}
.toggler #close:hover {
  transform: rotate(360deg);
}
.toggler #close.active {
  display: block;
}

@media (max-width: 490px) {
  .chatbot {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 0;
  }
  .chatbot .chatbox {
    height: 90%;
  }
  .chatbot header #closeChat {
    right: 10px;
    display: block;
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}/*# sourceMappingURL=main.css.map */